/* In-Glass CSS */

body {
	font-family: sans-serif;
	background: #666;
	color: white;
	font-weight: 300;
}

h1 {
	font-weight: 300;
	font-size: 1.5em;
	margin: 0;
}

h2 {
	font-size: 40em;
}

h3 {
	font-size: 3em;
}

h3:before {
	transition: 0.3s linear all;
}

h2, h3 {
	margin: 0;
	display: inline-block;
	vertical-align: -60%;
	text-shadow: 0 0 20px rgba(0,0,0,0.1);
}

a {
	font-weight: 500;
	color: rgba(215,215,215,0.8);
	text-decoration: none;
}

a:hover {
	text-shadow: 0px 0px 5px rgba(255,255,255,0.3);
}

a, div {
	transition: 0.3s ease-in all;
}

#top_level_nav {
	position: absolute;
	top: 25px;
	left: 25px;
}

#nav {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 35px;
	left: 150px;
}

#nav.visible {
	opacity: 1;
	pointer-events: auto;
	top: 60px;
}

#nav a {
	margin-right: 10px;
}

#device_list {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 35px;
	left: 400px;
}

#device_list.visible {
	opacity: 1;
	pointer-events: auto;
	top: 60px;
}

.device_name {
	display: block;
}

.content {
	text-align: center;
	margin-top: 25px;
}

.standard {
	margin-top: 100px;
	margin-left: 20px;
	font-size: 1.2em;
}

#settings {
	background: rgba(0,0,0,0.75);
	padding: 5px 25px;
	position: absolute;
	bottom: 75px;
	left: 25px;
	opacity: 0;
	pointer-events: none;
}

#settings.visible {
	opacity: 1;
	pointer-events: auto;
}

#settings_button {
	position: absolute;
	bottom: 25px;
	left: 25px;
	font-size: 2em;
	color: rgba(255,255,255,0.7);
	cursor: pointer;
}

#settings_button:hover {
	transform: rotate(-25deg);
	-webkit-transform:rotate(-25deg); /* I still need this in 2014, really guys? */
}

@font-face {
	font-family: 'icomoon';
	src:
		url('icomoon.woff') format('woff'),
		url('icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cog:before {
	content: "\e600";
}

.tempType{
	cursor: pointer;
	color:#FFFFFF;
}

#chart {
	margin-top: 75px;
}

#chart rect {
	fill: steelblue;
}

#chart text {
	fill: white;
	font: 10px sans-serif;
	text-anchor: middle;
}


/* Media  Queries */

/*Tablet Portrait */
@media only screen and (min-width: 768px) and (max-width: 959px){
	h2{
		font-size:25em;
		margin-top: 40px;
	}
}

/*Mobile*/
@media only screen and (max-width: 767px){
	h2{
		font-size:18em;
		margin-top:60px;
	}
}

/*Even more mobile!*/
@media only screen and (max-width: 479px){
	h2{
		font-size:15em;
		margin-top:80px;
	}
}