<!doctype html>
<html>
	<head>
		{% block head %}
		<meta charset="utf-8">
		<title>In-Glass</title>
		{% if css %}
		<link rel="stylesheet" href="{{ css }}">
		{% endif %}
		{% endblock %}
	</head>
	<body>
		<h1 id="top_level_nav">In-Glass &gt; <a href="#" id="nav_button">{% block page_title %}{% endblock %}</a>
		{% if devices %}
		&gt; <a href="#" id="device_picker">{{ devices[0].name }}</a>
		{% endif %}
		</h1>
		<div id="device_list">
			{% for device in devices %}
				<a href="#" class="device_name" data-device="{{ device.device }}">{{ device.name }}</a>
			{% endfor %}
		</div>
		<div id="nav">
			<a href="/">Current</a>
			<a href="/graph/">Graph</a>
			<a href="/about/">About In-Glass</a>
		</div>
		{% block content %}x
		{% endblock %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		{% if js %}
		<script src="{{ js }}"></script>
		{% endif %}
	</body>
</html>
