{% extends "base.html" %}
{% block page_title %}Current Temperature{% endblock %}
{% block content %}
<div class="content"><h2 id="temperature">--</h2><h3>&deg;</h3><h3 id="unit">F</h3></div>
<div id="settings">
	<h4>In-Glass Settings</h4>
	<h5><span class="tempType" id="fahrenheitSelect">Fahrenheit</span> | <span class="tempType" id="celsiusSelect">Celsius</span></h5>
	<h5><input type="checkbox" id="update_enable">Auto-Update</h5>
	<h5>-Every <input type="text" id="seconds_count"> Seconds</h5>
</div>
<div id="settings_button" class="icon-cog"></div>
{% endblock %}