/* In-Glass CSS */

body {
	font-family: sans-serif;
	background: #333;
	color: white;
}

h1 {
	font-weight: 300;
	font-size: 1.5em;
	opacity: 0.6;
}

h2 {
	font-size: 40em;
}

h3 {
	font-size: 3em;
}

h2, h3 {
	margin: 0;
	display: inline-block;
	vertical-align: -60%;
	text-shadow: 0 0 20px rgba(0,0,0,0.1);
}

div {
	text-align: center;
}