{% extends "base.html" %}
{% block page_title %}About{% endblock %}
{% block content %}
<div class="standard">
	<p>In-Glass is an app that displays and logs temperature readings from TEMPer USB thermometers.</p>
	<p>You can contribute to In-Glass via the <a href="https://github.com/chrisknepper/in-glass">Github repo.</a></p>
	<h4>In-Glass Was Created By:</h4>
	<a href="http://www.chrisknepper.com">Chris Knepper</a> | <a href="http://www.dustinraimondi.com">Dustin Raimondi</a> | <a href="http://www.lancealaughlin.com/">Lance Laughlin</a>
</div>
{% endblock %}
