<!doctype html>
<html>
	<head>
		{% block head %}
		<meta charset="utf-8">
		<title>In-Glass</title>
		{% if css %}
		<link rel="stylesheet" href="{{ css }}">
		{% endif %}
		{% endblock %}
	</head>
	<body>
		<h1><a href="#" id="nav_button">In-Glass</a> > {% block page_title %}{% endblock %}</h1>
		<div id="nav">
			<a href="/">Current</a>
			<a href="/graph/">Graph</a>
			<a href="/about/">About In-Glass</a>
		</div>
		{% block content %}x
		{% endblock %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		{% if js %}
		<script src="{{ js }}"></script>
		{% endif %}
	</body>
</html>
