<!doctype html>
<html>
	<head>
		{% block head %}
		<meta charset="utf-8">
		<title>In-Glass</title>
		{% if css %}
		<link rel="stylesheet" href="{{ css }}">
		{% endif %}
		{% endblock %}
	</head>
	<body>
		<h1>In-Glass > {% block page_title %}{% endblock %}</h1>
		<ul>
			<li><a href="/">Current</a></li>
			<li><a href="/graph/">Graph</a></li>
			<li><a href="/about/">About In-Glass</a></li>
		</ul>
		{% block content %}x
		{% endblock %}
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		{% if js %}
		<script src="{{ js }}"></script>
		{% endif %}
	</body>
</html>
